language: node_js

node_js:
  - "12"

install:
  - npm install
  - npm install serverless --g
  - chmod +x ./scripts/deploy_travis.sh
  - chmod +x ./scripts/inject_service_worker_variables.sh

script:
  - npm run deploy:travis

after_script:
  - npm run clear-frontend-cache

branches:
  only:
  - master
  - development

notifications:
  email:
    on_success: never
    on_failure: always
