language: node_js

node_js:
  - "12"

cache: npm

install:
  - npm install
  - npm install cross-env serverless --g

script:
  - npm run build:$NODE_ENV
  - npm run deploy:$NODE_ENV

after_script:
  - npm run clear-frontend-cache

branches:
  only:
  - master
  - development

notifications:
  email:
    on_success: never
    on_failure: always
