service: barracao-digital
app: barracao-digital
org: rodrigogs

plugins:
  - serverless-bundle
  - serverless-offline
  - serverless-finch
  - serverless-domain-manager

package:
  individually: true

custom:
  stage: ${opt:stage, env:NODE_ENV, 'development'}
  region: ${opt:region, 'sa-east-1'}
  bundle:
    externals:
      - aws-sdk
    forceExclude:
      - '@firebase/app'
      - firebase-admin
    linting: true
    sourcemaps: true
  client:
    bucketName: ${self:service}-${self:provider.stage}-webapp
    distributionFolder: frontend/dist
  customDomain:
    domainName: api.barracaodigital.com
    basePath: ${self:provider.stage}
    stage: ${self:provider.stage}
    certificateName: '*.barracaodigital.com'
    createRoute53Record: true
  # Tables
  configsTableName: ${self:service}-${self:provider.stage}-configs-table
  doctorsTableName: ${self:service}-${self:provider.stage}-doctors-table
  patientsTableName: ${self:service}-${self:provider.stage}-patients-table
  facilitiesTableName: ${self:service}-${self:provider.stage}-facilities-table

provider:
  name: aws
  runtime: nodejs12.x
  memorySize: 256
  stage: ${self:custom.stage}
  region: ${self:custom.region}
  versionFunctions: false
  logRetentionInDays: 5
  stackTags:
    STACK: ${self:service}
    STAGE: ${self:custom.stage}
    REGION: ${self:custom.region}
  iamRoleStatements:
    - Effect: Allow
      Action:
        - 'logs:*'
      Resource: '*'
    - Effect: Allow
      Action:
        - 'dynamodb:*'
      Resource: 'arn:aws:dynamodb:${self:custom.region}:${file(./serverless.js):getAccountId}:table/${self:service}-${self:custom.stage}-*'
    - Effect: Allow
      Action:
        - 'events:*'
      Resource: 'arn:aws:events:${self:custom.region}:${file(./serverless.js):getAccountId}:rule/*'
    - Effect: Allow
      Action:
        - 'lambda:*'
      Resource: '*'
    - Effect: Allow
      Action:
        - 'sns:*'
      Resource: '*'
    # serverless_domain_manager pemissions
    - Effect: Allow
      Action:
        - 'acm:ListCertificates'
      Resource: '*'
    - Effect: Allow
      Action:
        - 'apigateway:*'
      Resource: '*'
    - Effect: Allow
      Action:
        - 'cloudformation:*'
      Resource: '*'
    - Effect: Allow
      Action:
        - 'route53:*'
      Resource: '*'
    - Effect: Allow
      Action:
        - 'iam:CreateServiceLinkedRole'
      Resource: '*'
  deploymentBucket:
    name: ${self:service}-deploys
    maxPreviousDeploymentArtifacts: 10 # On every deployment the framework prunes the bucket to remove artifacts older than this limit. The default is 5
    blockPublicAccess: true # Prevents public access via ACLs or bucket policies. Default is false
  environment:
    AWS_ACCOUNT_ID: ${file(./serverless.js):getAccountId}
    STACK_NAME: ${self:service}
    STAGE: ${self:custom.stage}
    APP_URL: ${env:APP_URL}
    TELEGRAM_TOKEN: ${env:TELEGRAM_TOKEN}
    GOOGLE_APPLICATION_CREDENTIALS: ${env:GOOGLE_APPLICATION_CREDENTIALS}
    OPENTOK_API_KEY: ${env:OPENTOK_API_KEY}
    OPENTOK_API_SECRET: ${env:OPENTOK_API_SECRET}
    DOCTOR_INACTIVITY_TIMEOUT_IN_MINUTES: ${env:DOCTOR_INACTIVITY_TIMEOUT_IN_MINUTES, '35'}
    CONFIGS_TABLE: ${self:custom.configsTableName}
    DOCTORS_TABLE: ${self:custom.doctorsTableName}
    PATIENTS_TABLE: ${self:custom.patientsTableName}
    FACILITIES_TABLE: ${self:custom.facilitiesTableName}

layers:
  common:
    path: layers/common

functions:
  # Jobs
  alternate-doctor-job:
    handler: functions/jobs/alternate-doctor-job.handler
    memorySize: 1024
    timeout: 30
    layers:
      - {Ref: CommonLambdaLayer}

  # Authorizers
  doctorAuthorizer:
    handler: functions/api/doctor-authorizer.handler
    layers:
      - {Ref: CommonLambdaLayer}

  adminAuthorizer:
    handler: functions/api/admin-authorizer.handler
    layers:
      - {Ref: CommonLambdaLayer}

  masterAuthorizer:
    handler: functions/api/master-authorizer.handler
    layers:
      - {Ref: CommonLambdaLayer}

  # API
  healthcheck:
    handler: functions/api/healthcheck.handler
    layers:
      - {Ref: CommonLambdaLayer}
    events:
      - http:
          method: GET
          path: /
          cors: true

  # Auth
  auth:
    handler: functions/api/auth.handler
    layers:
      - {Ref: CommonLambdaLayer}
    events:
      - http:
          method: POST
          path: /auth/login
          cors: true

  # Doctors
  doctorsGet:
    handler: functions/api/doctors/get.handler
    layers:
      - {Ref: CommonLambdaLayer}
    events:
      - http:
          method: GET
          path: /doctors
          cors: true
          authorizer: adminAuthorizer

      - http:
          method: GET
          path: /doctors/cep/{cep}
          cors: true
          authorizer: doctorAuthorizer

      - http:
          method: GET
          path: /doctors/username/{username}
          cors: true
          authorizer: doctorAuthorizer

  doctorsPost:
    handler: functions/api/doctors/post.handler
    layers:
      - {Ref: CommonLambdaLayer}
    memorySize: 512
    timeout: 30
    events:
      - http:
          method: POST
          path: /doctors
          cors: true
          authorizer: adminAuthorizer

      - http:
          method: POST
          path: /doctors/alternate
          cors: true
          authorizer: doctorAuthorizer

      - http:
          method: POST
          path: /doctors/conversation/{ticket}
          cors: true
          authorizer: doctorAuthorizer

  doctorsPut:
    handler: functions/api/doctors/put.handler
    layers:
      - {Ref: CommonLambdaLayer}
    events:
      - http:
          method: PUT
          path: /doctors/{username}
          cors: true
          authorizer: doctorAuthorizer

  doctorsDelete:
    handler: functions/api/doctors/delete.handler
    layers:
      - {Ref: CommonLambdaLayer}
    events:
      - http:
          method: DELETE
          path: /doctors/{username}
          cors: true
          authorizer: masterAuthorizer

      - http:
          method: DELETE
          path: /doctors/conversation/{ticket}
          cors: true
          authorizer: doctorAuthorizer

  # Patients
  patientsGet:
    handler: functions/api/patients/get.handler
    layers:
      - {Ref: CommonLambdaLayer}
    events:
      - http:
          method: GET
          path: /patients/cep/{cep}
          cors: true
          authorizer: doctorAuthorizer

      - http:
          method: GET
          path: /patients/ticket/{ticket}
          cors: true

  patientsPost:
    handler: functions/api/patients/post.handler
    layers:
      - {Ref: CommonLambdaLayer}
    events:
      - http:
          method: POST
          path: /patients
          cors: true

  patientsPut:
    handler: functions/api/patients/put.handler
    layers:
      - {Ref: CommonLambdaLayer}
    events:
      - http:
          method: PUT
          path: /patients/{ticket}
          cors: true
          authorizer: masterAuthorizer

      - http:
          method: PUT
          path: /patients/{ticket}/feedback
          cors: true

      - http:
          method: PUT
          path: /patients/{ticket}/status/ongoing
          cors: true
          authorizer: doctorAuthorizer

      - http:
          method: PUT
          path: /patients/{ticket}/status/waiting_kit
          cors: true
          authorizer: doctorAuthorizer

      - http:
          method: PUT
          path: /patients/{ticket}/status/received_kit
          cors: true

      - http:
          method: PUT
          path: /patients/{ticket}/status/sent_kit
          cors: true

      - http:
          method: PUT
          path: /patients/{ticket}/status/finished
          cors: true
          authorizer: doctorAuthorizer

      - http:
          method: PUT
          path: /patients/{ticket}/status/gave_up
          cors: true

      - http:
          method: PUT
          path: /patients/{ticket}/messaging/token
          cors: true

      - http:
          method: PUT
          path: /patients/{ticket}/messaging/sms
          cors: true
          authorizer: doctorAuthorizer

  patientsDelete:
    handler: functions/api/patients/delete.handler
    layers:
      - {Ref: CommonLambdaLayer}
    events:
      - http:
          method: DELETE
          path: /patients/{ticket}/video
          cors: true

  # Facilities
  facilitiesGet:
    handler: functions/api/facilities/get.handler
    layers:
      - {Ref: CommonLambdaLayer}
    memorySize: 1024
    timeout: 30
    events:
      - http:
          method: GET
          path: /facilities
          cors: true
          authorizer: masterAuthorizer

      - http:
          method: GET
          path: /facilities/origin/{origin}
          cors: true

      - http:
          method: GET
          path: /facilities/origin/{origin}/destinations
          cors: true
          authorizer: masterAuthorizer

      - http:
          method: GET
          path: /facilities/origin/{origin}/check
          cors: true

  facilitiesPost:
    handler: functions/api/facilities/post.handler
    layers:
      - {Ref: CommonLambdaLayer}
    events:
      - http:
          method: POST
          path: /facilities
          cors: true
          authorizer: masterAuthorizer

  facilitiesPut:
    handler: functions/api/facilities/put.handler
    layers:
      - {Ref: CommonLambdaLayer}
    memorySize: 1024
    timeout: 30
    events:
      - http:
          method: PUT
          path: /facilities/{origin}
          cors: true
          authorizer: masterAuthorizer

  facilitiesDelete:
    handler: functions/api/facilities/delete.handler
    layers:
      - {Ref: CommonLambdaLayer}
    events:
      - http:
          method: DELETE
          path: /facilities/{origin}
          cors: true
          authorizer: masterAuthorizer

      - http:
          method: DELETE
          path: /facilities/{origin}/destinations
          cors: true
          authorizer: masterAuthorizer

resources:
  - ${file(resources/api-gateway-cf-resources.yml)}
  - ${file(resources/cloudfront-cf-resources.yml)}
  - ${file(resources/dynamodb-cf-resources.yml)}
  - Outputs:
      FacilitiesDeleteLambdaFunctionQualifiedArn:
        Description: ARN of the FacilitiesDelete lambda function
        Value: !GetAtt FacilitiesDeleteLambdaFunction.Arn
