service: barracoes-covid-19
app: barracoes-covid-19
org: rodrigogs

plugins:
  - serverless-webpack
  - serverless-offline
  - serverless-finch
  - serverless-pseudo-parameters
  - serverless-domain-manager

package:
  individually: true

custom:
  webpack:
    webpackConfig: webpack.config.js
  client:
    bucketName: ${self:service}-${self:provider.stage}-webapp
    distributionFolder: frontend/dist
  customDomain:
    domainName: api.barracaodigital.com
    basePath: ${self:provider.stage}
    stage: ${self:provider.stage}
    certificateName: '*.barracaodigital.com'
    createRoute53Record: true
  helpers: ${file(./serverless.helpers.js)}
  configsTableName: ${self:service}-${self:provider.stage}-configs
  doctorsTableName: ${self:service}-${self:provider.stage}-doctors
  patientsTableName: ${self:service}-${self:provider.stage}-patients
  facilitiesTableName: ${self:service}-${self:provider.stage}-facilities

provider:
  name: aws
  runtime: nodejs12.x
  stage: ${opt:stage, 'development'}
  region: sa-east-1
  versionFunctions: false
  iamRoleStatements:
    - Effect: Allow
      Action:
        - 'logs:*'
      Resource: '*'
    - Effect: Allow
      Action:
        - 'dynamodb:*'
      Resource: '*'
  environment:
    CONFIGS_TABLE: ${self:custom.configsTableName}
    DOCTORS_TABLE: ${self:custom.doctorsTableName}
    PATIENTS_TABLE: ${self:custom.patientsTableName}
    FACILITIES_TABLE: ${self:custom.facilitiesTableName}

functions:
  doctorAuthorizer:
    handler: functions/api/doctor-authorizer.handler

  adminAuthorizer:
    handler: functions/api/admin-authorizer.handler

  masterAuthorizer:
    handler: functions/api/master-authorizer.handler

  healthcheck:
    handler: functions/api/healthcheck.handler
    events:
      - http:
          method: get
          path: /
          cors: true

  auth:
    handler: functions/api/auth.handler
    events:
      - http:
          method: post
          path: /auth/login
          cors: true

  doctors:
    handler: functions/api/doctors.handler
    events:
      - http:
          method: get
          path: /doctors/cep/{cep}
          cors: true
          authorizer: doctorAuthorizer

      - http:
          method: get
          path: /doctors/username/{username}
          cors: true
          authorizer: doctorAuthorizer

      - http:
          method: post
          path: /doctors
          cors: true
          authorizer: adminAuthorizer

      - http:
          method: post
          path: /doctors/alternate
          cors: true
          authorizer: adminAuthorizer

      - http:
          method: put
          path: /doctors/{username}
          cors: true
          authorizer: adminAuthorizer

  patients:
    handler: functions/api/patients.handler
    events:
      - http:
          method: get
          path: /patients/cep/{cep}
          cors: true
          authorizer: doctorAuthorizer

      - http:
          method: get
          path: /patients/ticket/{ticket}
          cors: true

      - http:
          method: post
          path: /patients
          cors: true

      - http:
          method: put
          path: /patients/{ticket}
          cors: true
          authorizer: adminAuthorizer

  facilities:
    handler: functions/api/facilities.handler
    events:
      - http:
          method: get
          path: /facilities/origin/{origin}
          cors: true
          authorizer: masterAuthorizer

      - http:
          method: get
          path: /facilities/origin/{origin}/destinations
          cors: true
          authorizer: masterAuthorizer

      - http:
          method: post
          path: /facilities
          cors: true
          authorizer: masterAuthorizer

      - http:
          method: put
          path: /facilities/{origin}
          cors: true
          authorizer: masterAuthorizer

resources:
  Resources:
    # This response is needed for custom authorizer failures cors support ¯\_(ツ)_/¯
    GatewayResponseDefault4XX:
      Type: AWS::ApiGateway::GatewayResponse
      Properties:
        ResponseParameters:
          gatewayresponse.header.Access-Control-Allow-Origin: "'*'"
          gatewayresponse.header.Access-Control-Allow-Headers: "'*'"
        ResponseType: DEFAULT_4XX
        RestApiId:
          Ref: ApiGatewayRestApi
    GatewayResponse:
      Type: AWS::ApiGateway::GatewayResponse
      Properties:
        ResponseParameters:
          gatewayresponse.header.Access-Control-Allow-Origin: "'*'"
          gatewayresponse.header.Access-Control-Allow-Headers: "'*'"
        ResponseType: EXPIRED_TOKEN
        RestApiId:
          Ref: ApiGatewayRestApi
        StatusCode: '401'
    AuthFailureGatewayResponse:
      Type: AWS::ApiGateway::GatewayResponse
      Properties:
        ResponseParameters:
          gatewayresponse.header.Access-Control-Allow-Origin: "'*'"
          gatewayresponse.header.Access-Control-Allow-Headers: "'*'"
        ResponseType: UNAUTHORIZED
        RestApiId:
          Ref: ApiGatewayRestApi
        StatusCode: '401'
    ## Specifying the CloudFront Distribution to server your Web Application
    WebAppCloudFrontDistribution:
      Type: AWS::CloudFront::Distribution
      Properties:
        DistributionConfig:
          Origins:
            - DomainName: ${self:custom.client.bucketName}.s3.amazonaws.com
              ## An identifier for the origin which must be unique within the distribution
              Id: WebApp
              CustomOriginConfig:
                HTTPPort: 80
                HTTPSPort: 443
                OriginProtocolPolicy: https-only
              ## In case you want to restrict the bucket access use S3OriginConfig and remove CustomOriginConfig
              # S3OriginConfig:
              #   OriginAccessIdentity: origin-access-identity/cloudfront/E127EXAMPLE51Z
          Enabled: 'true'
          ## Uncomment the following section in case you are using a custom domain
          Aliases:
            - www.barracaodigital.com
          DefaultRootObject: index.html
          ## Since the Single Page App is taking care of the routing we need to make sure ever path is served with index.html
          ## The only exception are files that actually exist e.h. app.js, reset.css
          CustomErrorResponses:
            - ErrorCode: 404
              ResponseCode: 200
              ResponsePagePath: /index.html
          DefaultCacheBehavior:
            AllowedMethods:
              - GET
              - HEAD
              - OPTIONS
            ## The origin id defined above
            TargetOriginId: WebApp
            ## Defining if and how the QueryString and Cookies are forwarded to the origin which in this case is S3
            ForwardedValues:
              QueryString: 'false'
              Cookies:
                Forward: none
            ## The protocol that users can use to access the files in the origin. To allow HTTP use `allow-all`
            ViewerProtocolPolicy: redirect-to-https
          ## The certificate to use when viewers use HTTPS to request objects.
          ViewerCertificate:
            AcmCertificateArn: arn:aws:acm:us-east-1:201373306222:certificate/a8852000-db78-4d56-82e5-857a5ba58469
            SslSupportMethod: sni-only
          #  CloudFrontDefaultCertificate: 'true'
          ## Uncomment the following section in case you want to enable logging for CloudFront requests
          # Logging:
          #   IncludeCookies: 'false'
          #   Bucket: mylogs.s3.amazonaws.com
          #   Prefix: myprefix
    # DynamoDB Tables
    ConfigsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:custom.configsTableName}
        AttributeDefinitions:
          - AttributeName: partition
            AttributeType: S
          - AttributeName: sort
            AttributeType: S
        KeySchema:
          - AttributeName: partition
            KeyType: HASH
          - AttributeName: sort
            KeyType: RANGE
        ProvisionedThroughput:
          ReadCapacityUnits: 10
          WriteCapacityUnits: 10
    DoctorsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:custom.doctorsTableName}
        AttributeDefinitions:
          - AttributeName: username
            AttributeType: S
          - AttributeName: sort
            AttributeType: S
          - AttributeName: cep
            AttributeType: S
        KeySchema:
          - AttributeName: username
            KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: 10
          WriteCapacityUnits: 10
        GlobalSecondaryIndexes:
          - IndexName: cep
            KeySchema:
              - AttributeName: cep
                KeyType: HASH
              - AttributeName: sort
                KeyType: RANGE
            Projection:
              ProjectionType: ALL
            ProvisionedThroughput:
              ReadCapacityUnits: 10
              WriteCapacityUnits: 10
    PatientsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:custom.patientsTableName}
        AttributeDefinitions:
          - AttributeName: ticket
            AttributeType: S
          - AttributeName: cep
            AttributeType: S
          - AttributeName: sort
            AttributeType: S
        KeySchema:
          - AttributeName: ticket
            KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: 10
          WriteCapacityUnits: 10
        GlobalSecondaryIndexes:
          - IndexName: cep
            KeySchema:
              - AttributeName: cep
                KeyType: HASH
              - AttributeName: sort
                KeyType: RANGE
            Projection:
              ProjectionType: ALL
            ProvisionedThroughput:
              ReadCapacityUnits: 10
              WriteCapacityUnits: 10
    FacilitiesTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:custom.facilitiesTableName}
        AttributeDefinitions:
          - AttributeName: origin
            AttributeType: S
          - AttributeName: destination
            AttributeType: S
        KeySchema:
          - AttributeName: origin
            KeyType: HASH
          - AttributeName: destination
            KeyType: RANGE
        ProvisionedThroughput:
          ReadCapacityUnits: 10
          WriteCapacityUnits: 10
        GlobalSecondaryIndexes:
          - IndexName: destinationOrigin
            KeySchema:
              - AttributeName: destination
                KeyType: HASH
              - AttributeName: origin
                KeyType: RANGE
            Projection:
              ProjectionType: ALL
            ProvisionedThroughput:
              ReadCapacityUnits: 10
              WriteCapacityUnits: 10
